<html>
  <head>
    <title>Elo Rating System</title>
  </head>
  <body>
    <h1>Elo Rating System</h1>
    <p><%= eloRating ? 'Your Elo rating is: ' + eloRating : 'Please submit your elo rating.' %></p>
  </body>
</html>