<form action="/homepage" method="post">
    <label for="userELO">ELO:</label>
    <input type="text" id="userELO" name="userElo"><br><br>
    <label for="userRegion">Region:</label>
    <input type="text" id="userRegion" name="userRegion"><br><br>
    <input type="submit" value="Submit">
</form>