<form action="/homepage" method="get">
    <label for="parameter1">ELO:</label>
    <input type="text" id="elo" name="elo"><br><br>
    <label for="parameter2">Region:</label>
    <input type="text" id="region" name="region"><br><br>
    <input type="submit" value="Submit">
</form>