<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1><%= user.username %>'s Profile</h1>
  <p>Region: <%= user.region.name %></p>
  <p>Elo Rating: <%= user.eloRating %></p>
  <p><a href="/">Home</a></p>
  <p><a href="/profile?edit=true">Edit</a></p>
</body>
</html>
