<h1>
    Preferences saved
</h1>
<html>
  <head>
    <title>Elo Rating System</title>
  </head>
  <body>
    <h1>Elo Rating System</h1>
    <p>Your Elo rating is: <%= eloRating ? eloRating : 'N/A' %></p>
  </body>
</html>